#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --neutral-10: #FFFFFF;
  --neutral-20: #EBF0F4;
  --neutral-30: #E4E9EC;
  --neutral-40: #D8DCE0;
  --neutral-50: #BABEC1;
  --neutral-60: #989B9D;
  --neutral-70: #717375;
  --neutral-80: #5D5F61;
  --neutral-90: #3D3F40;
  --neutral-100: #0A0A0A;

  --primary-main:#D9983E;
  --primary-surface:#F9DFBA;
  --primary-border:#E6AA5A;
  --primary-hover:#BF8133;
  --primary-pressed:#976D29;
  --primary-focus:#d9983e33;

  --secondary-main:#FBFCF6;
  --secondary-surface:#F6F7EE;
  --secondary-border:#EDEFE1;
  --secondary-hover:#D8DAC4;
  --secondary-pressed:#CDD0B6;
  --secondary-focus:#FBFCF633;

  --success-border:#b8dbca;
  --success-hober:#367a59;
  --success-main:#43936c;
  --success-pressed:#20573d;
  --success-surface:#f7f7f7;

  --warning-border:#eeceb0;
  --warning-hober:#bf6919;
  --warning-main:#cd7b2e;
  --warning-pressed:#734011;
  --warning-surface:#fff9f2;

  --danger-border:#eeb4b0;
  --danger-hober:#bd251c;
  --danger-main:#cb3a31;
  --danger-pressed:#731912;
  --danger-surface:#fff4f2;

  --info-border:#b1c5f6;
  --info-hober:#114cd6;
  --info-main:#3267e3;
  --info-pressed:#11317d;
  --info-surface:#f0f3ff;

  --rounded-sm:8px;
  --rounded-md:16px;
  --rounded-lg:24px;
  --rounded-xl:32px;
  --rounded-full: 9999px;
}
